
<div class="row">
  <div class="col-md-9">
    <div class="white-box">
      <h3 class="box-title">{{ project.name }}</h3>
        <ul class="list-inline text-right">
          <li>
            <h5><i class="fa fa-circle m-r-5" style="color: #00bfc7;"></i>Evolution</h5>
          </li>
          <li>
            <h5><i class="fa fa-circle m-r-5" style="color: #fb9678;"></i>Optimal</h5>
          </li>
          <li>
            <h5><i class="fa fa-circle m-r-5" style="color: #9675ce;"></i>Client Increment</h5>
          </li>
          <li>
            <h5><i class="fa fa-circle m-r-5" style="color: rgba(37,166,247, 1);"></i>Team Increment</h5>
          </li>
        </ul>
      <div>
        <canvas id="chart1p" height="340" width="845" style="height: 340px; width: 845px;"></canvas>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <section class="panel">
      <div class="panel-body">
        <div class="top-stats-panel">
          <div class="gauge-canvas" style="
    text-align: center;
">
            <h4 class="widget-h">Team Velocity</h4>
            <canvas width="180" height="100" id="gauge"></canvas>
          </div>
          <ul class="gauge-meta clearfix" style="
    margin: 0px;
    padding-top: 7px;
    list-style: none;
    padding-left: 0;
">
            <li id="gauge-textfield" class="pull-left gauge-value" style="
    color: #fa8564;
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px;
">9</li>
            <li class="pull-right gauge-title" style="
    color: #ccc;
    font-size: 14px;
    padding-right: 20px;
">Safe</li>
          </ul>
        </div>
      </div>
    </section>
  </div>
  <div class="col-md-3">
    <section class="panel">
      <div class="panel-body">
        <h4 class="widget-h">Completed Points</h4>
        <svg id="fillgauge1" width="97%" height="170px"></svg>
      </div>
    </section>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="white-box" style="display: table;float: left;width: 100%;">
  <h3 class="box-title">Velocity</h3>
    <div class="server-details" style="
    float: left;
    padding: 20px 0 20px 25px;
    width: 200px;
">
						<span style="
    font-size: 13px;
    font-weight: 300;
">You can check if it's possible to complete another sprint</span>
						<div style="
      display: inline-flex;
      margin-top: 10px;
  ">
  <div class="input-group bootstrap-touchspin" style="
      width: 70%;
  ">
    <form action="" method="POST" id="post-form">
      {% csrf_token %}
      <input id="tch3_22" type="text" value="30" name="tch3_22" data-bts-button-down-class="btn btn-default btn-outline" data-bts-button-up-class="btn btn-default btn-outline" class="form-control" style="display: block;">
      <div id="probability-answer">

      </div>

      <button type="submit" class="btn btn-outline btn-default" style="
margin-top: 25px;
">Calculate</button>
</form>


    </div>


                        </div>

					</div>
<div id="area-chart" style="position: relative;display: table-cell;     height: 330px;     padding-top: 11px;     vertical-align: middle;     width: 100%;">
  <canvas id="velocity" height="330" width="90%" style="height: 330px; width: 90%;"></canvas>
</div>
  </div>
</div>
</div>




    <div class="row">
      <div class="col-lg-12">
        <div class="white-box">
          <h3 class="box-title m-b-0">Project Iterations </h3>
          <p class="text-muted m-b-20">The project counts with the following iterations: </p>
          <div class="table-responsive">
            <table class="table table table-hover">
              <thead>
                <tr>
                  <th>Iteration name</th>
                  <th>Estimated Start</th>
                  <th>Estimated Finish</th>
                  <th>Progress</th>
                  <th style="text-align: center;">Status</th>
                </tr>
              </thead>
              <tbody>
                {% for milestone, points in milestones2 %}
                  <tr>
                    <td><a href="{% url 'panel:show_milestone' id=milestone.id %}" class="project">{{ milestone.name }}</a></td>
                    <td><span class="text-muted"><i class="fa fa-clock-o"></i>{{ milestone.estimated_start }}</span></td>
                    <td><span class="text-muted"><i class="fa fa-clock-o"></i>{{ milestone.estimated_finish }}</span> </td>
                    <td>
                      <div class="progress progress-xs margin-vertical-10 ">
                        <div class="progress-bar progress-bar-danger" style="width: {{ points }}%"></div>
                      </div>
                    </td>
                    <td style="text-align: center;">
                      {% if not milestone.closed %}
                        <div class="label label-table label-success">Unclosed</div>
                      {% else %}
                        <div class="label label-table label-danger">Closed</div>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="iteration_chart">



    </div>

<script>
$( document ).ready(function() {
  var ctx1 = document.getElementById("chart1p").getContext("2d");
  var data1 = {
        labels: [
          {% for sprint in sprints %}
            "{{ sprint.name }}"{% if not foorloop.last %},{% endif %}
          {% endfor %}
        ],
      datasets: [
          {
              label: "Optimal",
              fillColor: "rgba(251,150,120, 0)",
              strokeColor: "rgba(251,150,120, 0.5)",
              pointColor: "rgba(251,150,120, 0.5)",
              pointStrokeColor: "#FB9678",
              pointHighlightFill: "#FB9678",
              pointHighlightStroke: "rgba(251,150,120, 0.9)",
              data: [
                {% for sprint in sprints %}
                  {{ sprint.optimal }}{% if not foorloop.last %},{% endif %}
                {% endfor %}
              ],
              lineWidth: 5
          },
          {
              label: "Actual",
              fillColor: "rgba(0,191,199, 0)",
              strokeColor: "rgba(0,191,199, 0.8)",
              pointColor: "rgba(0,191,199, 1)",
              pointStrokeColor: "#00BFC7",
              pointHighlightFill: "#00BFC7",
              pointHighlightStroke: "rgba(0,191,199, 1)",
              data: [
                {% for sprint in sprints %}
                  {{ sprint.evolution }}{% if not foorloop.last %},{% endif %}
                {% endfor %}
              ]
          },
          {
              label: "Client Increment",
              fillColor: "rgba(150,117,206, 0)",
              strokeColor: "rgba(150,117,206, 0.8)",
              pointColor: "rgba(150,117,206, 1)",
              pointStrokeColor: "#fff",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(150,117,206, 1)",
              data: [
                {% for sprint in sprints %}
                  {{ sprint.client_increment }}{% if not foorloop.last %},{% endif %}
                {% endfor %}
              ]
          },
          {
              label: "Team Increment",
              fillColor: "rgba(37,166,247, 0)",
              strokeColor: "rgba(37,166,247, 0.8)",
              pointColor: "rgba(37,166,247, 1)",
              pointStrokeColor: "#fff",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(37,166,247, 1)",
              data: [
                {% for sprint in sprints %}
                  {{ sprint.team_increment }}{% if not foorloop.last %},{% endif %}
                {% endfor %}
              ]
          }
      ]
  };
  var chart1 = new Chart(ctx1).Line(data1, {
    scaleShowGridLines : true,
    scaleGridLineColor : "rgba(248,248,248,1)",
    scaleGridLineWidth : 1,
    scaleShowHorizontalLines: true,
    scaleShowVerticalLines: false,
    bezierCurve : false,
    bezierCurveTension : 0,
    pointDot : true,
    pointDotRadius : 5,
    pointDotStrokeWidth : 1,
    pointHitDetectionRadius : 5,
    datasetStroke : true,
  tooltipCornerRadius: 2,
    datasetStrokeWidth : 3,
    datasetFill : true,
  responsive: true,
  scaleOverride:true,
  scaleSteps:{{ max_point }},
  scaleStartValue:0,
  scaleStepWidth:100
  });
  var velocity = document.getElementById("velocity").getContext("2d");
  var data2 = {
        labels: [
          {% for velocity in velocities %}
            "{{ velocity.name }}"{% if not foorloop.last %},{% endif %}
          {% endfor %}
        ],
      datasets: [
          {
              label: "Velocity",
              fillColor: "rgba(152,235,239,0.8)",
               strokeColor: "rgba(152,235,239,0.8)",
               pointColor: "rgba(152,235,239,1)",
               pointStrokeColor: "#fff",
               pointHighlightFill: "#fff",
               pointHighlightStroke: "rgba(152,235,239,1)",
              data: [
                {% for velocity in velocities %}
                  {{ velocity.velocity }}{% if not foorloop.last %},{% endif %}
                {% endfor %}
              ],
              lineWidth: 5
          }
      ]
  };
  var chart2 = new Chart(velocity).Line(data2, {
    scaleShowGridLines : true,
    scaleGridLineColor : "rgba(248,248,248,1)",
    scaleGridLineWidth : 1,
    scaleShowHorizontalLines: true,
    scaleShowVerticalLines: false,
    bezierCurve : false,
    bezierCurveTension : 1,
    pointDot : true,
    pointDotRadius : 5,
    pointDotStrokeWidth : 1,
    pointHitDetectionRadius : 5,
    datasetStroke : true,
  tooltipCornerRadius: 2,
    datasetStrokeWidth : 3,
    datasetFill : true,
  responsive: true
  });
});
</script>

<script>
$(document).ready(function() {
  var side_bar = "{% url 'panel:show_panel' id=project.id %}";
  $("#side-menu-custom").load(side_bar);
$('a.proyect').click(function(){
  var page = $(this).attr('href');
  $("#iteration_chart").load(page);
  return false;
});
var opts = {
        lines: 12, // The number of lines to draw
        angle: 0, // The length of each line
        lineWidth: 0.48, // The line thickness
        pointer: {
            length: 0.6, // The radius of the inner circle
            strokeWidth: 0.03, // The rotation offset
            color: '#464646' // Fill color
        },
        limitMax: 'true', // If true, the pointer will not go past the end of the gauge
        colorStart: '#fa8564', // Colors
        colorStop: '#fa8564', // just experiment with them
        strokeColor: '#F1F1F1', // to see which ones work best for you
        generateGradient: true
    };
    var target = document.getElementById('gauge'); // your canvas element
        var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
        gauge.maxValue = 100; // set max gauge value
        gauge.animationSpeed = 32; // set animation speed (32 is default value)
        gauge.set({{ velocity_team }}); // set actual value
        gauge.setTextField(document.getElementById("gauge-textfield"));
        $("input[name='tch3_22']").TouchSpin({
                    initval: 40
                });
    // Liquid chart configuration
    var config1 = liquidFillGaugeDefaultSettings();
    config1.circleColor = "#03a9f3";
    config1.waveColor = "#03a9f3";
    config1.textColor = "#54667a";
    config1.waveAnimateTime = 1000;
    var gauge1 = loadLiquidFillGauge("fillgauge1", {{ avg_points }}, config1);
});
</script>
<script>
$(document).ready(function() {
  // Submit post on submit
  var frm = $('#post-form');
  frm.on('submit', function(event){
    window.alert('Test');
    points_input = parseInt($("#tch3_22").val());
    var probability = "{% url 'panel:probabilities' id=project.id points=123 %}".replace(/123/, points_input);
    $("#probability-answer").load(probability);
    return false;
  });
});
</script>
